<nav class="navbar navbar1 navbar-expand-sm">

      <div class="navbar-brand text   shp" (click)="gotohome()">Shopping.in</div>

<!--  <ul>-->
<!--    <li> </li>-->

<!--  </ul>-->
<div class="container">
  <form class="form-inline">
    <div class="input-group">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="input-group-btn">
      <button class="btn btn-warning text-white ml-2" type="submit">Search</button>
    </div>
  </form>
</div>
  <ul class="navbar-nav  ml-auto">
<!--    <li class="nav-item ">-->
<!--      <a class="nav-link text text-light" href="#">Add New Product-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item ml-4">-->
<!--      <a class="nav-link text text-light" href="#">-->
<!--        My Profile-->
<!--      </a>-->
<!--    </li>-->
    <li class="nav-item ">
      <a class="nav-link text ml-1" (click)="gotocart()">
        <div class="d-flex">
        <div class="mr-1"><i class="material-icons ">
          shopping_cart</i></div>
         <div class="ml-1"><a >Cart</a></div>
        </div>
      </a>
    </li>
    <li class="nav-item text">
      <a *ngIf="loginservice.isUserLoggedIn()" class="nav-link text " routerLink="/login" href="#">
        <div class="d-flex">
          <div><i class="material-icons">
            account_circle
          </i></div>
          <div class=""><a class="">Login&Signup</a></div>
        </div>
      </a>
    </li>
    <li>
      <a *ngIf="!loginservice.isUserLoggedIn()" class="nav-link text text-light" (click)="loginservice.logOut()" routerLink="/home" href="#">
        Logout
      </a>
    </li>
  </ul>
<!--  </nav>-->
<!--  <nav class="navbar navbar-expand-sm bg-dark ">-->
</nav>

<!--<nav class="navbar navbar-expand-sm">-->

<!--  <ul class="navbar-nav col-12">-->
<!--&lt;!&ndash;    <div class="d-flex justify-content-between">&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--    <li class="nav-item  navanchor col-3">-->
<!--      <a class=" nav-link ml-5 text-dark" routerLink="/home" href="#">-->
<!--      <div class="d-flex">-->
<!--       <div><i class="material-icons">home</i></div>-->
<!--        <div><p class=" ml-1" routerLink="/home"> Home </p></div>-->
<!--      </div>-->
<!--      </a>-->
<!--    </li>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--      <li class="nav-item  navanchor col-3">-->
<!--        <a class="nav-link ml-5 text-dark" href="#">-->
<!--        <div class="d-flex">-->
<!--         <div><i class="material-icons">tv</i></div>-->
<!--           <div><p class="ml-1">Electronics</p></div>-->
<!--        </div>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li class="nav-item navanchor col-3">-->
<!--      <a class="nav-link ml-5 text-dark" href="#">-->
<!--        <div class="d-flex">-->
<!--       <div> <i class="material-icons">library_books</i></div>-->
<!--       <div class="ml-1">Books</div>-->
<!--        </div>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li class="nav-item navanchor col-3">-->

<!--        <a class="nav-link ml-5 text-dark" href="#">-->
<!--          <div class="d-flex">-->
<!--         <div><i class="material-icons">-->
<!--            sports_esports-->
<!--          </i></div>-->
<!--          <div class="ml-1">Footwear</div>-->
<!--          </div>-->
<!--        </a>-->

<!--        </li>-->

<!--&lt;!&ndash;    <li class="nav-item text text-light mr-5 navanchor col-3">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="nav-link text text-light" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;        Clothing&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </ul>-->

<!--  </nav>-->

