.navbar-brand:hover
{
color:#5E5E5E;
}
.navbar:active
{
  color: #D5D5D5;
}
.navbar-brand
{
  color:#777;
}
.text
{
  color:#777;
}
.nav-link:hover
{
  color:#333;
}
.text:hover
{
  color:#333;
}
.navbar
{
  font-family: cursive;
}
.shp
{
  font-family: cursive;
}
.navbar1
{
  background-color: #F8F8F8;
}
.text-light:hover
{
  color: white;
}
//.d-flex:hover
//{
//  color: dodgerblue;
//}
//a.nav-link:hover
//{
//  background-color: dodgerblue;
//  color: white;
//}
.glyphicon-search{
  font-size: 20px;
}
//.btn-warning
//{
//  width: 50px;
//  padding: 12.5px;
//}
.brand
{
  //font-style: ;
}
//.navanchor a:hover
//{
//  border-bottom: 2px solid yellow;
//}
//.navanchor a.active
//{
//  border-bottom: 2px solid yellow;
//}
