<nav class="navbar navbar-expand-sm">

  <ul class="navbar-nav col-12">
    <!--    <div class="d-flex justify-content-between">-->
    <!--    <div>-->
    <li class="nav-item  navanchor col-3">
      <a class=" nav-link ml-5 text-dark" (click)="gotohome()">
        <div class="d-flex menu">
          <div><img src="https://img.icons8.com/color/32/000000/home.png"></div>
          <div><p class=" ml-1  "> Home </p></div>
        </div>
      </a>
    </li>
    <!--    </div>-->

    <li class="nav-item  navanchor col-3">
      <a class="nav-link ml-5 text-dark" (click)="getByCategory('Electronics')">
        <div class="d-flex" >
          <div><img src="https://img.icons8.com/color/32/000000/laptop--v2.png"></div>
          <div><p class="ml-1 menu">Electronics</p></div>
        </div>
      </a>
    </li>

    <li class="nav-item navanchor col-3">
      <a class="nav-link ml-5 text-dark">
        <div class="d-flex">
          <div> <img src="https://img.icons8.com/officel/32/000000/books.png"></div>
          <div class="ml-1 menu" (click)="getByCategory('Books')">Books</div>
        </div>
      </a>
    </li>

    <li class="nav-item navanchor col-3">

      <a class="nav-link ml-5 text-dark">
        <div class="d-flex">
          <div><img src="https://img.icons8.com/color/32/000000/mens-shoe.png"></div>
          <div class="ml-1 menu" (click)="getByCategory('Footwear')">Footwear</div>
        </div>
      </a>

    </li>

    <!--    <li class="nav-item text text-light mr-5 navanchor col-3">-->
    <!--      <a class="nav-link text text-light" href="#">-->
    <!--        Clothing-->
    <!--      </a>-->
    <!--    </li>-->
    <!--    </div>-->
  </ul>

</nav>
<div class="container-fluid mt-5 mb-5 ml-auto mr-auto">
  <div class="col-10 ml-auto mr-auto carouselimg2">
<ngb-carousel class="ml-auto">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="carouselimg2" src="../assets/image/carousel1.jpg" alt="Random first slide">
    </div>
<!--    <div class="carousel-caption">-->
<!--      <h3 class="text-dark">10 seconds between slides...</h3>-->
<!--      <p class="text-dark">This carousel uses customized default values.</p>-->
<!--    </div>-->
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="carouselimg2" src="../assets/image/carousel2.jpg" alt="Random second slide">
    </div>
<!--    <div class="carousel-caption">-->
<!--      <h3 class="text-dark">No mouse events...</h3>-->
<!--      <p class="text-dark">This carousel doesn't pause or resume on mouse events</p>-->
<!--    </div>-->
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="carouselimg2" src="../assets/image/carousel3.jpg"  alt="Random third slide">
    </div>
<!--    <div class="carousel-caption">-->
<!--      <h3 class="text-dark">No keyboard...</h3>-->
<!--      <p class="text-dark">This carousel uses customized default values.</p>-->
<!--    </div>-->
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="carouselimg2" src="../assets/image/carousel4.jpg" alt="Random fourth slide">
    </div>
<!--    <div class="carousel-caption">-->
<!--      <h3 class="text-dark">And no wrap after last slide.</h3>-->
<!--      <p class="text-dark">This carousel uses customized default values.</p>-->
<!--    </div>-->
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="carouselimg2" src="../assets/image/carousel6.jpg" alt="Random fourth slide">
    </div>
<!--    <div class="carousel-caption">-->
<!--      <h3 class="text-dark">And no wrap after last slide.</h3>-->
<!--      <p class="text-dark">This carousel uses customized default values.</p>-->
<!--    </div>-->
  </ng-template>
</ngb-carousel>
  </div>
</div>
<div class="d-flex">
<div class="card cardstyle mr-2 col-lg-2">
  <div class="card-body w-5">

  <h3 class=" card-title  text-info">Price Filter</h3>
    <div>
    <input type="radio" class="checkbox form-check-input ml-1" id="check1" (click)="pricebetween(1,499)" name="option1" value="something">
    <span class="ml-4" >below 500</span>
    </div>
    <div>
    <input type="radio" class="checkbox form-check-input ml-1" id="check2" (click)="pricebetween(500,1999)" name="option1" value="something" >
    <span class="ml-4">500-1999</span>
    </div>
    <div>
    <input type="radio" class="checkbox form-check-input ml-1" id="check3"(click)="pricebetween(2000,5000)" name="option1" value="something" >
    <span class="ml-4">1999-5000</span>
    </div>
    <div>
      <input type="radio" class="checkbox form-check-input ml-1" id="check4" (click)="pricebetween(5000,50000)" name="option1" value="something" >
      <span class="ml-4">Above 5000</span>
    </div>
  </div>

</div>

  <div class="row ml-2">
<!--<div style="display:flex; justify-content:space-between;">-->
  <div class="card">
  <div class="row">
    <div *ngFor="let images of image" class="mb-2 ml-1">
      <div class="card  cardstyle">
        <img src="{{images.image}}" (click)="productdetails(images.productid)" class="image"><br>
        <span class="item"><b>{{images.name}}</b></span>
        <span class="price"><b>₹{{images.price}}</b></span>
<!--        <span class="off">{{images.off}}</span>-->
<!--       <div class=" btn-info mt-1 bttn col-10" (click)="productdetails(images.productid)">Product Details</div>-->
 <div class="btn btncart mt-2 w-50 ml-auto mr-auto" (click)="addtocart(images.productid)">Add to cart</div>
      </div>
    </div>
  </div>


</div>
  </div>
</div>
