
.cardstyle
{
  width: 18rem;
  border: none;
}
.btncart
{

  color: #235789;
  border-radius: 1rem;
  border-color: #235789;
}
.btncart:hover
{
  background-color: #235789;
  color: white;
}

.image
{
  width: 250px;
  height: 250px;
  padding-bottom: 10px;

}
.cardstyle
{
  height: 400px;
}
.bttn
{


  padding:1.5px;
  height: 15px;
  font-size: 10px;
  //margin-left: auto;
  //margin-right: auto;
  //margin-bottom:10px;
  border-radius: 1rem;
}
.btn-info:hover
{
  background-color:darkblue;
  border-color:darkblue;
  color: white;

}
.item
{
  color: blue;
}
.addcart
{
  background-color:yellow;
  color:white;
}
.price
{
  color: red;
}
.checkbox
{
  width: 1rem;
  height: 1rem;
}
.off{
  color: green;
}
.carouselimg{
  width: 100%;
  height: 400px;
}
.carouselimg2
{
  width: 100%;
  height: 500px;
}
.navanchor
{

}
.navbar
{
  font-family: cursive;
}
.shp
{
  font-family: cursive;
}
.navbar1
{
  background-color: #F8F8F8;
}
.text-light:hover
{
  color: white;
}
.d-flex:hover
{
  color: dodgerblue;


}
.menu:active
{
  text-decoration: underline;
  text-decoration-color: rosybrown;
}
.d-flex:active
{

}
//a.nav-link:hover
//{
//  background-color: dodgerblue;
//  color: white;
//}
.glyphicon-search{
  font-size: 20px;
}
//.btn-warning
//{
//  width: 50px;
//  padding: 12.5px;
//}
.brand
{
  //font-style: ;
}
//.navanchor a:hover
//{
//  border-bottom: 2px solid yellow;
//}
//.navanchor a.active
//{
//  border-bottom: 2px solid yellow;
//}
